<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cuttyflamme.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <!-- Informations générales -->
    <name>Cuttyflamme</name>
    <description>SOCIAL NETWORK CUTTYFLAMME</description>
    
    <!-- Configurations Android -->
    <platform name="android">
        <icon src="www/assets/img/logo.png" density="ldpi" />
        <icon src="www/assets/img/logo.png" density="mdpi" />
        <icon src="www/assets/img/logo.png" density="hdpi" />
        <icon src="www/assets/img/logo.png" density="xhdpi" />
    </platform>

    <!-- Configurations iOS -->
    <platform name="ios">
        <icon src="www/assets/img/logo.png" width="57" height="57" />
        <icon src="www/assets/img/logo.png" width="72" height="72" />
        <icon src="www/assets/img/logo.png" width="114" height="114" />
        <icon src="www/assets/img/logo.png" width="144" height="144" />
        <!-- Ajoutez d'autres résolutions si nécessaire -->
        <splash src="www/assets/img/splash.png" width="320" height="480" />
        <splash src="www/assets/img/splash.png" width="640" height="960" />
        <splash src="www/assets/img/splash.png" width="768" height="1024" />
        <splash src="www/assets/img/splash.png" width="1536" height="2048" />
        <!-- Ajoutez d'autres résolutions si nécessaire -->
    </platform>

    <!-- Paramètres généraux -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <!-- Ajoutez d'autres préférences si nécessaire -->

    <!-- Déclaration de l'accès réseau pour Cordova -->
    <access origin="*" />

    <!-- Configuration du démarrage de l'application -->
    <content src="www/index.html" />

</widget>